.shop-component {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 10px;
}

.product-component {
    margin-top: 30px;
    margin-left: 40px;
}

.logo {
    display: flex;
    align-items: flex-end;
    cursor: pointer;
}

.logo h2 {
    color: #E01B77;
}

.logo img {
    width: 80px;
    /* margin-top: -2px; */
}

.text {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}

.cart-component {
    /* position: sticky; */
    top: 10px;
}

/* for laptop */
@media screen and (max-width:1024px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* for tablet */
@media screen and (max-width:768px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* for mobile */
@media screen and (max-width:425px) {
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
}