.cart-container {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 25px;
}

.title-name {
    margin-top: 35px;
}

.cart-container img {
    width: 60px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile h3,
p {
    margin: 5px;
    padding-left: 10px;
}

.profile-details {
    background-color: #F0F4F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*dice*/
    padding: 10px 10px;
    border-radius: 8px;
    margin-top: 30px;
}

.text-color {
    color: rgb(130, 130, 130);
    padding-top: 5px;
}

.profile-style {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.break-details,
.exercise-details,
.break-time-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 8px;
    margin-top: 30px;
    background-color: #F0F4F6;
}

.break-details button {
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    border: none;
    font-size: 16px;
}

.break-details button:hover {
    color: #fff;
    background-color: #dd3785d8;
}

.cart-btn {
    margin-top: 30px;
    width: 100%;
    color: #fff;
    background-color: #dd3785d8;
    text-transform: uppercase;
    border-color: transparent;
    border-radius: 8px;
    padding: 15px 0px;
    cursor: pointer;
}