.cart-container {
    background-color: #fff;
    position: sticky;
    top: 0;
    padding: 30px;
    /* padding-left: 30px; */
}

.cart-container img {
    width: 60px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile h3,
p {
    margin: 5px;
    padding-left: 10px;
}

.profile-details {
    background-color: #F0F4F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*dice*/
    padding: 10px 10px;
    border-radius: 8px;
    margin-top: 30px;
}

.text-color {
    color: rgb(130, 130, 130);
    padding-top: 5px;
}

.profile-style {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}