.question-container {
    margin: 100px;
    text-align: center;
}

.color {
    color: #dd3785d8;
}

.question {
    margin-left: 50px;
}

.question h3 {
    word-spacing: 1px;
    line-height: 25px;
}